@namespace PanoramicData.Blazor

<div class="pd-audio-channel">
	<PDKnob Value="@GainValue"
			ValueChanged="@OnGainChanged"
			CapColor="@GainColor"
			Label="Gain"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDKnob Value="@CompValue"
			ValueChanged="@OnCompChanged"
			CapColor="@CompColor"
			Label="Comp"
			MaxDisplay="10"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDKnob Value="@EqHighValue"
			ValueChanged="@OnEqHighChanged"
			CapColor="@EqColor"
			Label="EQ High"
			MaxDisplay="10"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDKnob Value="@EqMidValue"
			ValueChanged="@OnEqMidChanged"
			CapColor="@EqColor"
			Label="EQ Mid"
			MaxDisplay="10"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDKnob Value="@EqLowValue"
			ValueChanged="@OnEqLowChanged"
			CapColor="@EqColor"
			Label="EQ Low"
			MaxDisplay="10"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDKnob Value="@DspValue"
			ValueChanged="@OnDspChanged"
			CapColor="@DspColor"
			Label="DSP"
			MaxDisplay="10"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDKnob Value="@PanValue"
			ValueChanged="@OnPanChanged"
			Mode="PDKnobMode.Balance"
			CapColor="@PanColor"
			Label="Pan"
			MaxDisplay="10"
			DefaultValue="0.5"
			IsEnabled="@IsEnabled" />
	<PDAudioButton Value="@PflValue"
				   ValueChanged="@OnPflChanged"
				   ActiveColor="@PflActiveColor"
				   InactiveColor="@PflInactiveColor"
				   Label="PFL"
				   IsEnabled="@IsEnabled" />
	<PDAudioButton Value="@MuteValue"
				   ValueChanged="@OnMuteChanged"
				   ActiveColor="@MuteActiveColor"
				   InactiveColor="@MuteInactiveColor"
				   Label="Mute"
				   IsEnabled="@IsEnabled" />
	<PDFader Value="@FaderValue"
			 ValueChanged="@OnFaderChanged"
			 Label="@Label"
			 IsEnabled="@IsEnabled" />
</div>
