@inherits PDAudioControl

<div class="pd-audio-button @CssClass @(IsEnabled ? "" : "disabled")" style="display:inline-block; user-select:none;">
	@if (LabelPosition == PDLabelPosition.Above)
	{
		@RenderLabel()
	}
	<div class="button-container @(Value > 0.5 ? "pressed" : "unpressed")" @onclick="Toggle">
		<div class="button-inner" style="background-color: @(Value > 0.5 ? ActiveColor : InactiveColor);">
		</div>
	</div>
	@if (LabelPosition == PDLabelPosition.Below)
	{
		@RenderLabel()
	}
</div>
