@inherits PDComponentBase
@typeparam TCard

<div @attributes=@GetAttributes()>

	@foreach (var dataProvider in DataProviders)
	{
		<CascadingValue Value="_context" Name="cardDeckGroupContext">
			<PDCardDeck @ref="@Ref"
						DataProvider="@dataProvider"
						MultipleSelection="@MultipleSelection"
						IsEnabled="@IsEnabled"
						CardCss="@CardCss"
						CssClass="@DeckCss"
						OnRearrange="@OnRearrange"
						OnSelect="@OnSelect"
						CardTemplate="@CardTemplate" />
		</CascadingValue>
	}
</div>

