@inherits PDComponentBase
@typeparam TItem

<div class="pdcarddeck @CssClass @(IsEnabled ? "" : "disabled") @SizeCssClass" id="@Id">

    @foreach(var item in Items)
    {
        <div class="card @(_selection.Contains(item) ? "selected" : "")"
            @onmouseup="(args) => OnItemMouseUpAsync(item, args)">
            @if (CardTemplate != null)
            {
                @CardTemplate(item)
            }
        </div>
    }

</div>