@using static PanoramicData.Blazor.PDResizePane
@inherits ComponentBase

@if (IsSplitMode)
{
    <div class="pdchat-container-wrapper">
        <PDSplitter @key="@($"chat-splitter-{DockMode}")" 
                    Direction="@GetSplitDirection()" 
                    GutterSize="@GutterSize" 
                    CssClass="pdchat-container-splitter">
            @if (IsChatFirstPanel())
            {
                <PDSplitPanel @key="@($"chat-panel-{DockMode}")" Size="@ChatPanelSize" MinSize="@ChatMinSize">
                    @ChatContent
                </PDSplitPanel>
                <PDSplitPanel @key="@($"content-panel-{DockMode}")" Size="@(TotalSize - ChatPanelSize)" MinSize="@ContentMinSize">
                    @ChildContent
                </PDSplitPanel>
            }
            else
            {
                <PDSplitPanel @key="@($"content-panel-{DockMode}")" Size="@(TotalSize - ChatPanelSize)" MinSize="@ContentMinSize">
                    @ChildContent
                </PDSplitPanel>
                <PDSplitPanel @key="@($"chat-panel-{DockMode}")" Size="@ChatPanelSize" MinSize="@ChatMinSize">
                    @ChatContent
                </PDSplitPanel>
            }
        </PDSplitter>
    </div>
}
else
{
    @* For non-split modes (corners, fullscreen, minimized), render content normally with chat as overlay *@
    <div class="pdchat-container-wrapper">
        @ChildContent
        @ChatContent
    </div>
}

