<div Id="@Id" class="pdcontextmenu">
	@foreach (var item in Items)
	{
		if (item.IsVisible)
		{
			@if (item.IsSeparator)
			{
				<div class="pdcontextmenuseparator">
				</div>
			}
			else
			{
				<div class="pdcontextmenuitem @(item.IsDisabled ? "disabled" : "")" @onclick="@(() => ClickHandler(item))">
					@if (string.IsNullOrWhiteSpace(item.Content))
					{
						@if (!string.IsNullOrWhiteSpace(item.IconCssClass))
						{
							<span class="@item.IconCssClass"></span>
						}
						<span>@item.Text</span>
					}
					else
					{
						@((MarkupString)item.Content)
					}
				</div>
			}
		}
	}
</div>