<div class="pdcontextmenuhost"
	 @onmousedown="OnMouseDown">
	@ChildContent
</div>

<div Id="@Id"
	 class="pdcontextmenu"
	 @oncontextmenu:preventDefault
	 @oncontextmenu="() => { }">

	@foreach (var item in Items)
	{
		if (item.IsVisible)
		{
			@if (item.IsSeparator)
			{
				<div class="pdcontextmenuseparator">
				</div>
			}
			else
			{
				<div class="pdcontextmenuitem @(item.IsDisabled ? "disabled" : "")" @onclick="@(() => ClickHandler(item))">
					@if (string.IsNullOrWhiteSpace(item.Content))
					{
						@if (!string.IsNullOrWhiteSpace(item.IconCssClass))
						{
							<i class="@item.IconCssClass me-1"></i>
						}
						<span>@item.Text</span>
					}
					else
					{
						@((MarkupString)item.Content)
					}
				</div>
			}
		}
	}
</div>