<div Id="@Id" class="pdcontextmenu">
	@foreach (var item in Items)
	{
		if (item.IsVisible)
		{
			<div class="pdcontextmenuitem @(item.IsDisabled ? "disabled" : "")" @onclick="@(() => ClickHandler(item))">
				@if(!string.IsNullOrWhiteSpace(item.IconCssClass))
				{
					<span class="@item.IconCssClass"></span>
				}
				<span>@item.Text</span>
			</div>
		}
	}
</div>