@inherits PDComponentBase

<div class="pddatetime @(IsVisible ? "" : "d-none ") @CssClass">

	<input @onblur="OnBlur"
		   @oninput="OnDateInputAsync"
		   class="form-control date @_dateCssClass"
		   disabled="@(!IsEnabled)"
		   type="@(UseNativeDatePicker ? "date" : "text")"
		   value="@(Value.ToString(UseNativeDatePicker ? "yyyy-MM-dd" : DateFormat))"
		   placeholder="@(UseNativeDatePicker ? null : DateFormat)">

	@if (ShowTime)
	{
		<input @onblur="OnBlur"
			   @oninput="OnTimeInputAsync"
			   class="form-control ms-1 time @_timeCssClass"
			   disabled="@(!IsEnabled)"
			   step="@TimeStepSecs"
			   type="time"
			   value="@(Value.ToString("HH:mm:ss"))" />
	}

</div>
