<div class="pd-dropdown dropdown @(Visible ? "" : "d-none") @CssClass" id="@Id">
    <PDButton Attributes="Attributes"
              Id="@ToggleId"
              IsEnabled="IsEnabled"
              CssClass="@CssClass"
              IconCssClass="@IconCssClass"
              PreventDefault="PreventDefault"
              Size="Size"
              StopPropagation="StopPropagation"
              Text="@Text"
              TextCssClass="@TextCssClass"
              ToolTip="@ToolTip">
        <PDLabel Click="Click"
                 IconCssClass="@IconCssClass"
                 StopPropagation="true"
                 Text="@Text"
                 TextCssClass="@TextCssClass"
                 ToolTip="@ToolTip">
            @if (ShowCaret)
            {
                <i class="ms-2 fas @(_shown ? "fa-angle-up" : "fa-angle-down")"></i>
            }
        </PDLabel>
    </PDButton>
    <div class="dropdown-menu">
        @ChildContent
    </div>
</div>