<PDDropDown @ref="_dropDown"
    IconCssClass="@IconCssClass"
    CssClass="@CssClass"
    CloseOption="PDDropDown.CloseOptions.Outside"
    DropDownShown="OnDropDownShown"
    KeyPress="OnDropDownKeyPress"
    ShowCaret="false">

    <div class="filter-body"
         onclick="event.stopPropagation()">
        <div class="mb-1">
            <select class="form-control form-control-sm"
                    @onchange="OnFilterTypeChanged">
                <option value="@FilterTypes.Equals" selected="@(_filterType == FilterTypes.Equals)">Equals</option>
                <option value="@FilterTypes.DoesNotEqual" selected="@(_filterType == FilterTypes.DoesNotEqual)">Does Not Equal</option>
                <option value="@FilterTypes.In" selected="@(_filterType == FilterTypes.In)">In List</option>
                @if(DataType == FilterDataTypes.Text)
                {
                    <option value="@FilterTypes.StartsWith" selected="@(_filterType == FilterTypes.StartsWith)">Starts With</option>
                    <option value="@FilterTypes.EndsWith" selected="@(_filterType == FilterTypes.EndsWith)">Ends With</option>
                    <option value="@FilterTypes.Contains" selected="@(_filterType == FilterTypes.Contains)">Contains</option>
                    <option value="@FilterTypes.DoesNotContain" selected="@(_filterType == FilterTypes.DoesNotContain)">Does Not Contain</option>
                }
            </select>
        </div>
        <div class="mb-1">
            <PDTextBox CssClass="form-control-sm"
                       ShowClearButton=false
                       Value="@_value1"
                       ValueChanged="OnValue1TextChange" />
        </div>

        @if (ShowValues)
        {
            <div class="filter-values">
                <div class="values-filter">
                    <PDTextBox CssClass="form-control-sm"
                               DebounceWait="500"
                               ShowClearButton=false
                               Placeholder="Search"
                               Value="@_valuesFilter"
                               ValueChanged="OnValuesFilterTextChange" />
                </div>
                <div class="values-list">
                    @foreach(var value in _values)
                    {
                        <PDLabel CssClass="pd-pointer"
                                    MouseDown="@(() => OnValueClicked(value))"
                                    IconCssClass="@(_selectedValues.Contains(value) ? "fas fa-check-square" : "far fa-square")"
                                    Text="@value" />
                    }
                </div>
            </div>
        }
    </div>

    <div class="filter-toolbar">
        <PDButton Click="OnFilter"
                  CssClass="btn-primary"
                  IconCssClass="@IconCssClass"
                  Id="@_id"
                  Size="Size"
                  Text="Filter"/>
        <PDButton Click="OnClear"
                  CssClass="btn-secondary"
                  IconCssClass="fas fa-times text-danger"
                  Size="Size"
                  Text="Clear Filter"/>
    </div>

</PDDropDown>