@typeparam TItem

<style>
	.title-box {
		width: @($"{TitleWidth}px");
	}
</style>

@if (Form is null)
{
	<span>Form parameter has not been set.</span>
}
else if (Form.Mode != FormModes.Hidden)
{
<div class="pd-form-body">
	@if (Form.Mode != FormModes.Empty)
	{
		foreach (var field in Fields)
		{
			var fieldType = field.GetFieldType();
			if (IsShown(field))
			{
				<div>
					<label class="sr-only">@field.Title</label>
					<div class="input-group mb-2">

						<div class="input-group-prepend">
							<div class="input-group-text title-box">@field.Title</div>
						</div>

						<!-- editor -->
						@if (field.IsPassword)
						{
							<input type="password" disabled="@IsReadOnly(field)" class="form-control" value="@field.GetRenderValue(Form.Item)"
								   @oninput="(x) => OnInput(field, Convert.ChangeType(x.Value, field.GetFieldType()))">
						}
						else if (field.Options != null)
						{
							<select class="form-control" @oninput="(x) => OnInput(field, x.Value)">
								@foreach (var option in field.Options(field, Form.Item))
								{
									<option value="@option.Value" selected="@option.IsSelected">@option.Text</option>
								}
							</select>
						}
						else if (field.IsTextArea)
						{
							<textarea disabled="@IsReadOnly(field)" class="form-control" value="@field.GetRenderValue(Form.Item)" rows="@field.TextAreaRows"
							  @oninput="(x) => OnInput(field, Convert.ChangeType(x.Value, field.GetFieldType()))"></textarea>
						}
						else if (fieldType?.FullName == "System.Boolean")
						{
							<PDFormCheckBox Value="@(GetFieldValue<bool>(field))" Disabled="@IsReadOnly(field)" ValueChanged="(x) => OnInput(field, (bool)x)" />
						}
						else if (fieldType?.IsEnum == true)
						{
							<select class="form-control" @oninput="(x) => OnInput(field, Enum.Parse(fieldType, x.Value?.ToString()))">
								@foreach (var option in GetEnumValues(field))
								{
									<option value="@option.Value" selected="@option.IsSelected">@option.Text</option>
								}
							</select>
						}
						else if (fieldType?.FullName == "System.DateTime")
						{
							<input type="date" disabled="@IsReadOnly(field)" class="form-control" value="@field.GetRenderValue(Form.Item)"
								   @oninput="(x) => OnInput(field, DateTime.Parse(x.Value.ToString()))">
						}
						else if (fieldType?.FullName == "System.DateTimeOffset")
						{
							<input type="date" disabled="@IsReadOnly(field)" class="form-control" value="@field.GetRenderValue(Form.Item)"
								   @oninput="(x) => OnInput(field, DateTimeOffset.Parse(x.Value.ToString()))">
						}
						else if (fieldType?.FullName == "System.String")
						{
							<input type="text" disabled="@IsReadOnly(field)" class="form-control" value="@field.GetRenderValue(Form.Item)"
								   @oninput="(x) => OnInput(field, x.Value)">
						}
						else
						{
							<input type="number" disabled="@IsReadOnly(field)" class="form-control" value="@field.GetRenderValue(Form.Item)"
								   @oninput="(x) => OnInput(field, Convert.ChangeType(x.Value, field.GetFieldType()))">
						}

						@if (Form.Mode != FormModes.Delete)
						{
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="far fa-check-circle"></i>
								</span>
							</div>
						}
					</div>
				</div>
			}
		}
	}
</div>
}

<CascadingValue Value="(PDFormBody<TItem>)this" Name="FormBody">
	@ChildContent
</CascadingValue>