<div class="pdformcheckbox form-control @(Disabled ? "disabled" : "") @CssClass"
     tabindex="@(Disabled ? null : "0")"
     @onkeypress="OnKeyPress">
    @if (!string.IsNullOrWhiteSpace(Label) && LabelBefore)
    {
        <span class="label me-1">@Label</span>
    }
    <input class="form-check-input mb-2" type="checkbox" checked="@Value" />
	@* <i class="far @(Value ? "fa-check-square" : "fa-square")" @onclick="OnClick" ></i> *@
    @if (!string.IsNullOrWhiteSpace(Label) && !LabelBefore)
    {
        <span class="ms-1 label">@Label</span>
    }
</div>