<div class="pd-label @CssClass"
     title="@ToolTip"
     @onclick="Click"
     @onclick:preventDefault="PreventDefault"
     @onclick:stopPropagation="StopPropagation"
     @onmousedown="MouseDown"
     @onmousedown:preventDefault="PreventDefault"
     @onmousedown:stopPropagation="StopPropagation">
    @if (!string.IsNullOrWhiteSpace(IconCssClass))
    {
        <i class="@IconCssClass" />
    }
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <span class="@(string.IsNullOrWhiteSpace(IconCssClass)? "" : "ms-1") @TextCssClass">@Text</span>
    }
</div>