@using PanoramicData.Blazor.Extensions
<a @attributes="Attributes"
   id="@Id"
   class="pd-button btn @CssClass @ButtonSizeCssClass"
   disabled="@(IsEnabled ? null : "true")"
   title="@ToolTip.AppendShortcut(ShortcutKey)"
   href="@Url"
   target="@Target">
    @if (!string.IsNullOrWhiteSpace(IconCssClass))
    {
        <span class="pe-1 @IconCssClass"></span>
    }
    <span class="@TextCssClass">@Text.GetShortcutMarkup()</span>
</a>