<nav aria-label="_pager" class="pdpager">

    @if (ShowPageChangeButtons)
    {
        <div class="direction-buttons">
            <PDButton Click="MoveFirst"
					  CssClass="btn-secondary"
					  IconCssClass="fa-fw fas fa-fast-backward"
					  IsEnabled="@(IsEnabled && !PageCriteria.IsFirstPage)"
					  Size="Size" />

            <PDButton Click="MovePrevious"
					  CssClass="btn-secondary ms-1"
					  IconCssClass="fa-fw fas fa-backward"
					  IsEnabled="@(IsEnabled && !PageCriteria.IsFirstPage)"
					  Size="Size" />

            <span class="user-select-none mx-2" style="white-space: nowrap;">
                <span class="d-none d-md-inline">Page</span>
                <span class="ms-1">@PageCriteria.Page.ToString("N0")</span>
                <span class="ms-1">of</span>
                <span class="ms-1">@(PageCriteria.PageCount == 0 ? 1 : PageCriteria.PageCount.ToString("N0"))</span>
            </span>

            <PDButton Click="MoveNext"
					  CssClass="btn-secondary"
					  IconCssClass="fa-fw fas fa-forward"
					  IsEnabled="@(IsEnabled && !PageCriteria.IsLastPage && PageCriteria.Page <= PageCriteria.PageCount)"
					  Size="Size" />

            <PDButton Click="MoveLast"
					  CssClass="btn-secondary ms-1"
					  IconCssClass="fa-fw fas fa-fast-forward"
					  IsEnabled="@(IsEnabled && !PageCriteria.IsLastPage && PageCriteria.Page <= PageCriteria.PageCount)"
					  Size="Size" />
        </div>
    }

    <div class="pdpager-page-description">
        @if (ShowPageDescription)
        {
			<div class="d-none d-lg-block text-nowrap user-select-none">
				@if (PageCriteria.TotalCount == 0)
				{
					@NoItemsText
				}
				else
				{
					<span>Showing</span>
					<span>@PageCriteria.PageRangeStart.ToString("N0") - @PageCriteria.PageRangeEnd.ToString("N0")</span>
					<span>of</span>
					<span>@PageCriteria.TotalCount.ToString("N0")</span>
				}
			</div>
        }
    </div>

    @if (ShowPageSizeChoices)
    {
        <div class="d-none d-sm-flex align-items-center pdpager-page-size-container">
            <div class="pe-2 text-nowrap d-none d-sm-block user-select-none">Page Size:</div>
            <select class="form-select @ControlSizeCssClass"
                disabled="@(!IsEnabled)"
                @bind="PageCriteria.PageSize">
                @foreach (var size in PageSizeChoices)
                {
                    <option value="@size">@size</option>
                }
            </select>
        </div>
    }

</nav>