<nav aria-label="_pager" class="pdpager d-flex justify-content-between align-items-center">

	<ul class="pagination mb-0">
		<li class="page-item @(PageCriteria.IsFirstPage || PageCriteria.Page < 1 ? "disabled" : "pd-pointer")">
			<a class="page-link" href="#" @onclick="MoveFirst" @onclick:preventDefault>
				<i class="fas fa-fast-backward" />
			</a>
		</li>
		<li class="page-item @(PageCriteria.IsFirstPage || PageCriteria.Page < 1 ? "disabled" : "pd-pointer")">
			<a class="page-link" href="#" @onclick="MovePrevious" @onclick:preventDefault>
				<i class="fas fa-backward" />
			</a>
		</li>
		<li class="page-item disabled">
			<a class="page-link text-nowrap" href="#">
				<span class="d-none d-md-inline">Page &nbsp; </span> @PageCriteria.Page &nbsp; / &nbsp; @(PageCriteria.PageCount == 0 ? 1 : PageCriteria.PageCount)
			</a>
		</li>
		<li class="page-item @(PageCriteria.IsLastPage || PageCriteria.Page > PageCriteria.PageCount ? "disabled" : "pd-pointer")">
			<a class="page-link" href="#" @onclick="MoveNext" @onclick:preventDefault>
				<i class="fas fa-forward" />
			</a>
		</li>
		<li class="page-item @(PageCriteria.IsLastPage || PageCriteria.Page > PageCriteria.PageCount ? "disabled" : "pd-pointer")">
			<a class="page-link" href="#" @onclick="MoveLast" @onclick:preventDefault>
				<i class="fas fa-fast-forward" />
			</a>
		</li>
	</ul>

	@if (ShowPageDescription)
	{
		if (PageCriteria.TotalCount == 0)
		{
			<div class="d-none d-lg-block text-nowrap">
				@NoItemsText
			</div>
		}
		else
		{
			<div class="d-none d-lg-block text-nowrap">
				<span>Showing</span>
				<span>@PageCriteria.PageRangeStart - @PageCriteria.PageRangeEnd</span>
				<span>of</span>
				<span>@PageCriteria.TotalCount</span>
			</div>
		}
	}

	@if (ShowPageSizeChoices)
	{
		<div class="d-none d-sm-flex align-items-center">
			<div class="pr-2 text-nowrap d-none d-sm-block">Page Size:</div>
			<select class="form-control" @bind="PageCriteria.PageSize">
				@foreach (var size in PageSizeChoices)
				{
					<option value="@size">@size</option>
				}
			</select>
		</div>
	}

</nav>