<style>
    .direction-buttons button:nth-child(1) {
        border-radius: .25rem 0px 0px .25rem;
    }

    .direction-buttons button:nth-child(2), .direction-buttons button:nth-child(4) {
        border-radius: 0px;
    }

    .direction-buttons button:nth-child(5) {
        border-radius: 0px .25rem .25rem 0px;
    }
</style>

<nav aria-label="_pager" class="pdpager d-flex justify-content-between align-items-center">

    <div class="direction-buttons">
        <PDButton Click="MoveFirst"
                  CssClass="btn-secondary"
                  IconCssClass="fas fa-fast-backward"
                  IsEnabled="@(IsEnabled && !PageCriteria.IsFirstPage)"
                  Size="Size" />

        <PDButton Click="MovePrevious"
                  CssClass="btn-secondary"
                  IconCssClass="fas fa-backward"
                  IsEnabled="@(IsEnabled && !PageCriteria.IsFirstPage)"
                  Size="Size" />

        <span class="d-none d-md-inline ms-1">Page&nbsp;</span> @PageCriteria.Page&nbsp;of&nbsp;@(PageCriteria.PageCount == 0 ? 1 : PageCriteria.PageCount)

        <PDButton Click="MoveNext"
                  CssClass="btn-secondary ms-1"
                  IconCssClass="fas fa-forward"
                  IsEnabled="@(IsEnabled && !PageCriteria.IsLastPage && PageCriteria.Page <= PageCriteria.PageCount)"
                  Size="Size" />

        <PDButton Click="MoveLast"
                  CssClass="btn-secondary"
                  IconCssClass="fas fa-fast-forward"
                  IsEnabled="@(IsEnabled && !PageCriteria.IsLastPage && PageCriteria.Page <= PageCriteria.PageCount)"
                  Size="Size" />
    </div>

    @if (ShowPageDescription)
    {
        if (PageCriteria.TotalCount == 0)
        {
            <div class="d-none d-lg-block text-nowrap">
                @NoItemsText
            </div>
        }
        else
        {
            <div class="d-none d-lg-block text-nowrap">
                <span>Showing</span>
                <span>@PageCriteria.PageRangeStart - @PageCriteria.PageRangeEnd</span>
                <span>of</span>
                <span>@PageCriteria.TotalCount</span>
            </div>
        }
    }

    @if (ShowPageSizeChoices)
    {
        <div class="d-none d-sm-flex align-items-center">
            <div class="pe-2 text-nowrap d-none d-sm-block">Page Size:</div>
            <select class="form-select @ControlSizeCssClass"
                disabled="@(!IsEnabled)"
                @bind="PageCriteria.PageSize">
                @foreach (var size in PageSizeChoices)
                {
                    <option value="@size">@size</option>
                }
            </select>
        </div>
    }

</nav>