@inherits PDComponentBase

<h3>PDRange</h3>

<div class="pd-range @(IsEnabled ? "" : "disabled")">

    @if (IsValid)
    {
        <svg class="plot-area"
            height="@Height"
            width="@Width">

            @* outer track *@
            <rect class="track outer @(Invert ? "invert" : "")"
                  height="@CalcTrackHeight"
                  width="@Width"
                  x="0"
                  y="@CalcTrackY" />

            @* inner track *@
            <rect class="track inner @(Invert ? "invert" : "")"
                  height="@CalcTrackHeight"
                  width="@(CalcEndHandleX - CalcStartHandleX + HandleWidth)"
                  x="@CalcStartHandleX"
                  y="@CalcTrackY" />

            @* range start handle *@
            <rect @ref="_svgRangeHandleStart"
                @onpointerdown="OnRangeStartPointerDown"
                @onpointermove="OnRangeStartPointerMove"
                @onpointerup="OnRangeStartPointerUp"
                class="handle start"
                height="@Height"
                width="@HandleWidth"
                x="@CalcStartHandleX"
                y="0" />

            @* range end handle *@
            <rect @ref="_svgRangeHandleEnd"
                class="handle end"
                height="@Height"
                width="@HandleWidth"
                x="@CalcEndHandleX"
                y="0" />

        </svg>

        <div>@_dragOrigin</div>
    }
    else
    {
        <PDValidationSummary Errors="ValidationErrors" />
    }

</div>