@typeparam TItem

@if (TableInitialised)
{
	<div class="pdtable" tabindex="0" @onkeydown="OnKeyDown">
		<table class="table @TableClass">
			@if (PageSize.HasValue)
			{
				<tr>
					<td colspan="@ActualColumnsToDisplay.Count()">
						<div class="d-flex flex-row">
								<div class="mr-2">
									<PDPager CurrentPage="@Page" PageCount="@PageCount" OnPageChange="(page) => PageAsync(new PageCriteria(page, PageSize))"></PDPager>
								</div>
						</div>
					</td>
				</tr>
			}
			<tr>
				@foreach (var column in ActualColumnsToDisplay)
				{
				<th scope="col" class="@column.ThClass">
					@if (column.Sortable)
					{
						<div title="@column.HelpText" @onclick="@(async () => await SortBy(column))">
							<span class="text-nowrap pd-pointer">@column.Title&nbsp;@((MarkupString)column.SortIcon)</span>
						</div>
					}
					else
					{
						<div title="@column.HelpText">@column.Title</div>
					}
				</th>
				}
			</tr>
			<tbody>
				@if (ItemsToDisplay.Any())
				{
					foreach (var item in ItemsToDisplay)
					{
				<tr class="pdtablerow @GetDynamicRowClasses(item)"
					@onmousedown="@((args) => OnRowMouseDown(args, item))"
					@onclick="() => Click.InvokeAsync(item)"
					@ondblclick="() => DoubleClick.InvokeAsync(item)"
					@oncontextmenu="@((a) => ContextMenuHandler(a, item))" @oncontextmenu:preventDefault>
					@foreach (var column in ActualColumnsToDisplay)
					{
						if (IsEditing && item == EditItem)
						{
							<td class="@column.TdClass">
								<input id="@($"PDTE-{column.Id}")" type="text" value="@($"{column.GetValue(item)}")" class="pdte form-control"
									   @onblur="OnEndEdit" @onmousedown:stopPropagation @onclick:stopPropagation @oncontextmenu:stopPropagation />
							</td>
						}
						else
						{
							if (column.Template == null)
							{
								<td class="@column.TdClass">@column.Render(item)</td>
							}
							else
							{
								<td class="@column.TdClass">@column.Template(item)</td>
							}
						}
					}
				</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="@ActualColumnsToDisplay.Count()" style="text-align: center;">
							@NoDataMessage
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}


<CascadingValue Value="(PDTable<TItem>)this" Name="Table">
	@ChildContent
</CascadingValue>