@typeparam TItem

@if (TableInitialised)
{
	<div class="pd-table">
		<table class="table @TableClass">
			<tr>
				<td colspan="@ActualColumnsToDisplay.Count()">
					<div class="d-flex flex-row">
						@if (PageSize.HasValue)
						{
							<div class="mr-2">
								<PDPager CurrentPage="@CurrentPage" PageCount="@PageCount" OnPageChange="PageChangeHandler"></PDPager>
							</div>
						}
					</div>
				</td>
			</tr>
			<tr>
				@foreach (var column in ActualColumnsToDisplay)
				{
				<th scope="col" class="@column.ThClass">
					@if (column.Sortable)
					{
						<div title="@column.HelpText" @onclick="@(async () => await SortBy(column))">
							<span class="text-nowrap pd-pointer">@column.Title&nbsp;@((MarkupString)column.SortIcon)</span>
						</div>
					}
					else
					{
						<div title="@column.HelpText">@column.Title</div>
					}
				</th>
				}
			</tr>
			<tbody>
				@if (ItemsToDisplay.Any())
				{
					foreach (var item in ItemsToDisplay)
					{
						<tr>
							@foreach (var column in ActualColumnsToDisplay)
							{
								if (column.Template != null)
								{
									<td class="@column.TdClass">@column.Template(item)</td>
								}
								else
								{
									<td class="@column.TdClass">@column.Render(item)</td>
								}
							}
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="@ActualColumnsToDisplay.Count()" style="text-align: center;">
							@NoDataMessage
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}


<CascadingValue Value="(PDTable<TItem>)this" Name="Table">
	@ChildContent
</CascadingValue>