<input id="@Id"
	   class="form-control @(IsVisible ? "" : "d-none ") @CssClass"
	   value="@_value"
	   readonly="@(!IsEnabled)"
	   placeholder="@Placeholder"
	   @oninput="OnInput"
	   @onkeypress="OnKeypress" />

@if (ShowClearButton && IsVisible)
{
	<div class="input-group-append">
		<button class="input-group-text btn"
				disabled="@(_lastValue == string.Empty || !IsEnabled)"
				@onclick="OnClear">
			<i class="fas fa-times" />
		</button>
	</div>
}