<input id="@Id"
	   class="form-control @(IsVisible ? "" : "d-none ") @CssClass"
	   value="@Value"
	   readonly="@(!IsEnabled)"
	   @oninput="OnInput"
	   @onkeypress="OnKeypress" />

@if (ShowClearButton && IsVisible)
{
	<div class="input-group-append">
		<button class="input-group-text btn"
				disabled="@(Value == string.Empty || !IsEnabled)"
				@onclick="OnClear">
			<i class="fas fa-times" />
		</button>
	</div>
}