@if (KeypressEvent)
{
	<input id="@Id"
		   type="@TypeString"
		   autocomplete="@AutoComplete"
		   @onblur="OnBlur"
		   class="form-control @TextSizeCssClass @(IsVisible ? "" : "d-none ") @CssClass"
		   disabled="@(!IsEnabled)"
		   readonly="@IsReadOnly"
		   placeholder="@Placeholder"
           @bind="Value" @bind:event="oninput" @onkeyup="OnKeypress" />
}
else
{
	<input id="@Id"
		   type="@TypeString"
		   autocomplete="@AutoComplete"
		   @onblur="OnBlur"
		   class="form-control @TextSizeCssClass @(IsVisible ? "" : "d-none ") @CssClass"
		   value="@Value"
		   disabled="@(!IsEnabled)"
		   readonly="@IsReadOnly"
		   placeholder="@Placeholder"
		   @onchange="OnChange" />
}
@if (IsVisible)
{
	@if (ShowClearButton)
	{
		<div class="input-group-text">
			<button class=" btn @ButtonSizeCssClass"
					style="square-left-border-radius"
					disabled="@(Value == string.Empty || !IsEnabled)"
					@onclick="OnClear">
				<i class="fas fa-times" />
			</button>
		</div>
	}
	@if (ShowSpeechButton)
	{
		<div class="input-group-text">
			<button class=" btn @ButtonSizeCssClass @(_activeListener == Id ? "flash" : "")"
					style="square-left-border-radius"
					disabled="@(!IsEnabled)"
					@onclick="OnListenForSpeech">
				<i class="fas fa-microphone" />
			</button>
		</div>
	}
}

