<div class="pd-timeline-toolbar">

    <div class="scale-bar">
        @if(ShowZoomButtons)
        {
            <PDButton Click="@(() => Timeline?.ZoomInAsync() ?? Task.CompletedTask)"
                CssClass="ms-1"
                IconCssClass="fas fa-search-plus"
                IsEnabled="Timeline?.CanZoomIn() == true"
                Size="ButtonSizes.Small"
                ToolTip="Zoom In" />
        }

        @if (ShowScale)
        {
            <div class="d-inline-block scale-label">@Timeline?.Scale.Name</div>
        }

        @if(ShowZoomButtons)
        {
            <PDButton Click="@(() => Timeline?.ZoomOutAsync() ?? Task.CompletedTask)"
                CssClass=""
                IconCssClass="fas fa-search-minus"
                IsEnabled="Timeline?.CanZoomOut() == true"
                Size="ButtonSizes.Small"
                ToolTip="Zoom Out" />
        }
    </div>

    @{
        var selection = Timeline?.GetSelection();
    }
    @if (ShowSelection && selection?.StartTime > DateTime.MinValue)
    {
        <div class="selection-bar me-2">
            <PDButton Click="@(() => Timeline?.ZoomToAsync(selection.StartTime, selection.EndTime, TimelinePositions.End) ?? Task.CompletedTask)"
                CssClass=""
                IconCssClass="fas fa-arrows-alt-h"
                IsEnabled="true"
                Size="ButtonSizes.Small"
                ToolTip="Zoom to selection" />
            <span class="range-min-label">@SelectionStartTimeDisplay</span>
            <span>-</span>
            <span class="range-max-label">@SelectionEndTimeDisplay</span>
        </div>
    }

    @if (ShowRange && Timeline?.RoundedMinDateTime > DateTime.MinValue)
    {
        <div class="range-bar me-2">
            <span class="range-min-label">@MinDateTimeDisplay</span>
            <span>-</span>
            <span class="range-max-label">@MaxDateTimeDisplay</span>
        </div>
    }
</div>