@using PanoramicData.Blazor.Extensions

<div id="@Id"
	 class="pd-timeline"
	 @onmousewheel="OnMouseWheel">

	@{
		var points = GetViewPortDataPoints();
		var snappedWidth = (_canvasWidth - (_canvasWidth % Options.Bar.Width));
	}

	@* PLOT AREA *@
	<svg @ref="_svgPlotElement"
			class="tl-plot-area @(IsEnabled ? "" : "disabled")"
			@onpointerdown="OnChartPointerDown"
			@onpointermove="OnChartPointerMove"
			@onpointerup="OnChartPointerUp"
			preserveAspectRatio="none">
		@{
			var maxYValue = points.Length == 0 ? 0 : points.Max(x => x?.SeriesValues.Sum() ?? 0);

			@* SELECTION RANGE *@
			if(Options.Selection.Enabled && _selectionStartIndex > -1 && _selectionEndIndex > -1)
			{
				<rect x="@SelectionStartX"
						fill="@Options.Selection.BackgroundColour"
						height="@_canvasHeight"
						stroke="@Options.Selection.BorderColour"
						width="@(SelectionEndX - SelectionStartX)"  />
			}

			@* BARS *@
			if (points.Length > 0)
			{
				for (var i = 0; i < points.Length; i++)
				{
					<PDStackedBar DateFormat="@Scale.FormatPattern"
								  DataPoint="points[i]"
								  IsEnabled="IsPointEnabled(points[i])"
								  MaxValue="@(Options.YAxis.MaxValue ?? (maxYValue == 0 ? 100 : maxYValue))"
								  Options="Options"
								  X="@(i * Options.Bar.Width)" />
				}
			}

			@* SELECTION HANDLES *@
			if(Options.Selection.Enabled && _selectionStartIndex > -1 && _selectionEndIndex > -1)
			{
				<rect @ref="_svgSelectionHandleStart"
						@onpointerdown="OnSelectionStartPointerDown"
						@onpointermove="OnSelectionStartPointerMove"
						@onpointerup="OnSelectionStartPointerUp"
						class="tl-selection-handle"
						fill="@Options.Selection.HandleColour"
						height="@_canvasHeight"
						stroke="@Options.Selection.HandleColour"
						width="@Options.Selection.HandleWidth"
						x="@SelectionStartX" />
				<rect @ref="_svgSelectionHandleEnd"
						@onpointerdown="OnSelectionEndPointerDown"
						@onpointermove="OnSelectionEndPointerMove"
						@onpointerup="OnSelectionEndPointerUp"
						class="tl-selection-handle"
						fill="@Options.Selection.HandleColour"
						height="@_canvasHeight"
						stroke="@Options.Selection.HandleColour"
						width="@Options.Selection.HandleWidth"
						x="@(SelectionEndX - Options.Selection.HandleWidth)" />
			}
		}

		@* New Min Date available *@
		@if(NewMinDateTimeAvailable)
		{
			<svg class="tl-ind-l"
				@onpointerdown="UpdateMinDate"
				@onpointerdown:stopPropagation>
				<rect fill="@Options.Indicator.BackgroundColour"
					height="@_canvasHeight"
					stroke="@Options.Indicator.BackgroundColour"
					width="@Options.Bar.Width"
					x="0" />
				<path d="@(Utilities.ArrowPath(0, _canvasHeight, Options.Bar.Width, Options.Indicator.Padding, true))"
					fill="@Options.Indicator.Colour"
					stroke="@Options.Indicator.Colour"
					stroke-width="@Options.Indicator.Padding"
					stroke-linecap="round" />
			</svg>
		}

		@* New Max Date available *@
		@if(NewMaxDateTimeAvailable)
		{
			<svg class="tl-ind-r"
				@onpointerdown="UpdateMaxDate"
				@onpointerdown:stopPropagation>>
				<rect fill="@Options.Indicator.BackgroundColour"
					height="@_canvasHeight"
					stroke="@Options.Indicator.BackgroundColour"
					width="@Options.Bar.Width"
					x="@(_canvasWidth - Options.Bar.Width)" />
				<path d="@(Utilities.ArrowPath(_canvasWidth - Options.Bar.Width, _canvasHeight, Options.Bar.Width, Options.Indicator.Padding, false))"
					fill="@Options.Indicator.Colour"
					stroke="@Options.Indicator.Colour"
					stroke-width="@Options.Indicator.Padding"
					stroke-linecap="round" />
			</svg>
		}

		@* SPINNER *@
		@if(_loading)
		{
			var r = _canvasHeight / 4;
			var cx = (_canvasWidth / 2d);
			var cy = (_canvasHeight / 2d);
			<path class="rotate"
					d="@(Utilities.DescribeArc(cx, cy, r, Options.Spinner.ArcStart, Options.Spinner.ArcEnd))"
					fill="none"
					stroke="@Options.Spinner.Colour"
					stroke-width="@Options.Spinner.Width"
					stroke-linecap="round" />
		}

	</svg>

	@* X-AXIS *@
	<svg class="tl-x-axis" preserveAspectRatio="none">
		@if (MinDateTime != DateTime.MinValue)
		{
			<line stroke="@(IsEnabled ? Options.XAxis.MajorTickColour : "DarkGray")" x2="@_canvasWidth" />
			@* minor ticks *@
			@for (var x = 0; x < _canvasWidth; x += Options.Bar.Width)
			{
				var dt = Scale.AddPeriods(RoundedMinDateTime, _columnOffset + (x / Options.Bar.Width));
				@if (dt < RoundedMaxDateTime)
				{
					if(Scale.IsMajorTick(dt))
					{
						<line stroke="@(IsEnabled ? Options.XAxis.MajorTickColour : "DarkGray")"
							x1="@x"
							x2="@x"
							y2="18" />
						<text>
							<text x="@(x + 2)"
								y="18"
								stroke="@(IsEnabled ? Options.XAxis.MajorTickColour : "DarkGray")">@Scale.TickLabelMajor(dt, Options.General.DateFormat)
							</text>
						</text>
					}
					else
					{
						<line stroke="@(IsEnabled ? Options.XAxis.MinorTickColour : "Silver")"
							x1="@x"
							x2="@x"
							y1="0"
							y2="5" />
					}
					@* minor tick label *@
					<text>
						<text class="minor-tick"
							x="@(x + 4)"
							y="8"
							stroke="@(IsEnabled ? Options.XAxis.MinorTickColour : "Silver")">@Scale.TickLabelMinor(dt)
						</text>
					</text>
					@* tooltip for minor label *@
					<rect height="20"
						  width="@Options.Bar.Width"
						  stroke="transparent"
						  fill="transparent"
						  x="@x"
						  y="0">
						  <title>@(dt.ToString(Scale.FormatPattern))</title>
					</rect>
				}
			}
		}
	</svg>

	@* PAN *@
	<svg @ref="_svgPanElement"
		@onpointerdown="OnPanPointerDown"
		@onpointermove="OnPanPointerMove"
		@onpointerup="OnPanPointerUp"
		class="tl-pan"
		preserveAspectRatio="none">
		@if(IsEnabled && MinDateTime != DateTime.MinValue)
		{
			<rect fill="@Options.Pan.BorderColour"
				height="@Options.Pan.Height"
				width="@(_panHandleWidth + 2 * Options.Pan.BorderWidth)"
				x="@(_panHandleX - Options.Pan.BorderWidth)"
				y="0" />
			<rect fill="@Options.Pan.Colour"
				height="@Options.Pan.Height"
				width="@(_panHandleWidth)"
				x="@_panHandleX"
				y="0" />

		}
	</svg>

</div>