<div class="pdtoolbaritem @(IsVisible ? "" : "pd-hidden") @(ShiftRight ? "align-right" : "") @ItemCssClass">
	<PDButton @attributes="Attributes"
			  CssClass="@($"pdtoolbarbutton {CssClass}")"
			  IsEnabled="IsEnabled"
			  Text="@Text"
			  ShortcutKey="@ShortcutKey"
			  IconCssClass="@IconCssClass"
			  ToolTip="@(string.IsNullOrWhiteSpace(ToolTip) ? Text : ToolTip)"
			  Click="OnClick">
	</PDButton>
</div>