<div class="pdtoolbaritem @(IsVisible ? "" : "d-none") @(ShiftRight ? "align-right" : "") @ItemCssClass" style="@ItemStyle">
	<div class="pdtoolbartextbox @CssClass">
		@if (!string.IsNullOrWhiteSpace(Label))
		{
			<label>@Label</label>
		}
		<div class="input-group">
			<PDTextBox Type = "@Type"
					   Placeholder="@Placeholder"
					   CssClass="@CssClass"
					   IsEnabled="IsEnabled"
					   IsVisible="IsVisible"
					   ShowClearButton="ShowClearButton"
					   DebounceWait="DebounceWait"
					   Keypress="OnKeypress"
					   KeypressEvent="KeypressEvent"
					   Value="@Value"
					   ValueChanged="OnValueChanged"
					   Size="Size"
					   Cleared="OnCleared" />
		</div>
	</div>
</div>