<div class="pdtoolbaritem @(IsVisible ? "" : "pd-hidden") @(ShiftRight ? "align-right" : "") @ItemCssClass">
	<button @attributes="Attributes"
			class="btn pdtoolbarbutton @CssClass"
			disabled="@(IsEnabled ? null : "true")"
			title="@(string.IsNullOrWhiteSpace(ToolTip) ? Text : ToolTip)"
			@onclick="OnClick">
		@if (!string.IsNullOrWhiteSpace(IconCssClass))
		{
			<span class="@IconCssClass"></span>
		}
		<span class="@TextCssClass">@Text</span>
	</button>
</div>