<div class="pdtoolbar @CssClass">
	@ChildContent
	@if (Items != null)
	{
		foreach (var item in Items)
		{
			if (item is ToolbarButton button)
			{
				<PDToolbarButton Key=@button.Key
								 Text="@button.Text"
								 CssClass="@button.CssClass"
								 IconCssClass="@button.IconCssClass"
								 TextCssClass="@button.TextCssClass"
								 IsEnabled="@button.IsEnabled"
								 ToolTip="@button.ToolTip"
								 IsVisible="@button.IsVisible"
								 ShiftRight="@button.ShiftRight"
								 Click="OnButtonClick" />
			}
			else if (item is ToolbarTextBox textbox)
			{
				<PDToolbarTextbox Key=@textbox.Key
								  ItemCssClass="@textbox.ItemCssClass"
								  ShowClearButton="@textbox.ShowClearButton"
								  Width="@textbox.Width"
								  Label="@textbox.Label"
								  CssClass="@textbox.CssClass"
								  IsEnabled="@textbox.IsEnabled"
								  ToolTip="@textbox.ToolTip"
								  IsVisible="@textbox.IsVisible"
								  ShiftRight="@textbox.ShiftRight"
								  DebounceWait="@textbox.DebounceWait"
								  Value="@textbox.Value"
								  ValueChanged="@textbox.ValueChanged"
								  Keypress="@textbox.Keypress"
								  Cleared="@textbox.Cleared" />
			}
			else if (item is ToolbarSeparator separator)
			{
				<PDToolbarSeparator Key=@separator.Key
									IsVisible="@separator.IsVisible"
									ShiftRight="@separator.ShiftRight" />
			}
		}
	}
</div>
