<div class="pdtreenode">
	@if (Node.Isleaf)
	{
		<div>
			<i class="far fa-plus-square fa-hidden pdtree_expand_icon"></i>
			@if (NodeTemplate == null)
			{
				<span class="pl-1">@Node.Text</span>
			}
			else
			{
				@NodeTemplate(Node);
			}
		</div>
	}
	else
	{
		<div class="pd-pointer" @onclick="() => Node.IsExpanded = !Node.IsExpanded">
			<i class="far @(Node.IsExpanded ? "fa-minus-square" : "fa-plus-square") pdtree_expand_icon"></i>
			@if (NodeTemplate == null)
			{
				<span class="pl-1">@Node.Text</span>
			}
			else
			{
				@NodeTemplate(Node);
			}
		</div>
		<div class="@(ShowLines ? "pdtree_lines" : null)">
			@if (Node.Nodes != null && Node.IsExpanded)
			{
				foreach (var subNode in Node.Nodes)
				{
					if (NodeTemplate == null)
					{
						<PDTreeNode Node="subNode" ShowLines="ShowLines" />
					}
					else
					{
						<PDTreeNode Node="subNode" ShowLines="ShowLines">
							<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
						</PDTreeNode>
					}
				}
			}
		</div>
	}
</div>