@typeparam TItem

<div class="pdtreenode">

	<div class="pdtreenode_header">
		@if (Node?.Isleaf ?? true)
		{
			<i class="far fa-plus-square fa-hidden"></i>
		}
		else
		{
			<i class="far @(Node.IsExpanded ? "fa-minus-square" : "fa-plus-square") pd-pointer" @onclick="OnToggleExpandAsync"></i>
		}
		<div class="pdtreenode_content @((Node?.IsSelected ?? false) ? "selected" : null)" @onclick="OnContentClickAsync">
			@if (NodeTemplate == null)
			{
				<span>@Node?.Text</span>
			}
			else
			{
				@NodeTemplate(Node);
			}
		</div>
	</div>

	@if (!(Node?.Isleaf ?? true))
	{
		<div class="pdtreenode_child_content @(ShowLines ? "pdtree_lines" : null)">
			@if (Node.Nodes != null && Node.IsExpanded)
			{
				foreach (var subNode in Node.Nodes)
				{
					if (NodeTemplate == null)
					{
						<PDTreeNode TItem="TItem" Node="subNode" ShowLines="ShowLines" />
					}
					else
					{
						<PDTreeNode TItem="TItem" Node="subNode" ShowLines="ShowLines">
							<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
						</PDTreeNode>
					}
				}
			}
		</div>
	}

</div>