<ul class="nav nav-pills p-2">
	<li class="nav-item @(ActiveTab == "Demo" ? "" : "pd-pointer")" @onclick="@(() => OnChangeTab("Demo"))">
		<span class="nav-link @(ActiveTab == "Demo" ? "active" : "")">Demo</span>
	</li>
	<li class="nav-item @(ActiveTab == "Source" ? "" : "pd-pointer")" @onclick="@(() => OnChangeTab("Source"))">
		<span class="nav-link @(ActiveTab == "Source" ? "active" : "")">Source</span>
	</li>
	@if (DocumentationContent != null)
	{
		<li class="nav-item @(ActiveTab == "Documentation" ? "" : "pd-pointer")" @onclick="@(() => OnChangeTab("Documentation"))">
			<span class="nav-link @(ActiveTab == "Documentation" ? "active" : "")">Documentation</span>
		</li>
	}
</ul>

<div class="demo-source-view">
	@if (ActiveTab == "Demo")
	{
		<div>
			@ChildContent
		</div>
	}
	else if (ActiveTab == "Documentation" && DocumentationContent != null)
	{
		<div class="documentation-content p-3">
			@DocumentationContent
		</div>
	}
	else
	{
		<div>
			<ul class="nav p-1 source-files-list">
				@foreach (var name in _sourceFiles.Keys)
				{
					<li class="small nav-item @(_activeSourceFile == name ? "font-weight-bold" : "pd-pointer")" @onclick="@(() => OnFileClick(name))">
						<span class="nav-link">@name</span>
					</li>
				}
			</ul>
			<StandaloneCodeEditor @ref="Editor"
						  Id="pd-source-code"
						  CssClass="pd-editor h-500"
						  ConstructionOptions="EditorConstructionOptions" />
		</div>
	}
</div>
