@page "/pdform"
@using PanoramicData.Blazor.Web.Data

<style>
	.person-list {
		border-radius: .3rem;
		border: 1px solid #ced4da;
		padding: 3px;
		margin: 0px 5px 5px 5px;
		cursor: pointer;
	}

	.person-list.selected {
		background-color: lightgray;
	}

	.pd-form-header {
		padding-bottom: 10px;
	}
</style>

<h1>PDForm</h1>

<h3>Example 1: Standalone Form</h3>

<div>
	<button class="btn btn-primary" @onclick="OnCreatePerson">Create</button>
</div>

<br />

<div class="d-flex">

	<div>
		@foreach (var person in People)
		{
			<div class="person-list @(person == SelectedPerson ? "selected" : "")" @onclick="(_) => OnEditPerson(person)">
				<span>@person.FirstName</span>&nbsp;<span>@person.LastName</span>
			</div>
		}
	</div>

	<div>
		<PDForm @ref="Form" TItem="Person" Item="SelectedPerson" DataProvider="PersonDataProvider"
				Error="OnError" Deleted="OnPersonDeleted" Updated="OnPersonUpdated" Created="OnPersonCreated">
			<PDFormHeader TItem="Person" ItemDescription="@((x) => $"{x.FirstName} {x.LastName}")" />
			<PDFormBody TItem="Person">
				<PDField TItem="Person" Field="x => x.Id" ShowInDelete="FormField<Person>.True" ShowInCreate="(_) => false" ReadOnlyInEdit="(_) => true"></PDField>
				<PDField TItem="Person" Field="x => x.FirstName" Title="First Name" ShowInDelete="(_) => true"></PDField>
				<PDField TItem="Person" Field="x => x.LastName" Title="Last Name" ShowInDelete="(_) => true"></PDField>
				<PDField TItem="Person" Field="x => x.Dob"></PDField>
				<PDField TItem="Person" Field="x => x.Department"></PDField>
				<PDField TItem="Person" Field="x => x.AllowLogin" Title="Login?" ReadOnlyInCreate="(_) => false"></PDField>
				<PDField TItem="Person" Field="x => x.Target"></PDField>
				<PDField TItem="Person" Field="x => x.Comments" ShowInCreate="(_) => false"></PDField>
				<PDField TItem="Person" Field="x => x.DateCreated" ShowInCreate="(_) => false" ReadOnlyInEdit="(_) => true"></PDField>
				<PDField TItem="Person" Field="x => x.DateModified" ShowInEdit="(_) => false" ShowInCreate="(_) => false"></PDField>
			</PDFormBody>
			<PDFormFooter TItem="Person" Click="OnFooterClick" />
		</PDForm>
	</div>

</div>

<div>
	<div class="form-group p-1">
		<label>Events</label>
		<textarea rows="8" class="form-control">@_events</textarea>
	</div>
</div>

