@page "/pdtable"
@using PanoramicData.Blazor.Web.Data
<h1>PDTable</h1>

<div class="d-flex flex-row-reverse">
	<button class="btn btn-primary" @onclick="async () => await _table!.RefreshAsync()">Refresh</button>
</div>

<div class="form-group p-1">
	<label>Search Text</label>
	<div class="input-group">
		<input type="text" class="form-control" @bind="_searchText">
		<div class="input-group-append">
			<button class="btn btn-secondary" @onclick="async () => await SearchAsync()">Search</button>
		</div>
	</div>
</div>

<PDTable @ref="_table" TItem="TestRow" DataProvider="DataProvider" KeyField="x => x.IntField" AllowDrag="_allowDrag" AllowDrop="_allowDrop"
			ColumnsConfig="_columnsConfig" SearchText="@_searchText"
			SelectionMode="@SelectionMode" SelectionChanged="OnSelectionChange"
		    Drop="OnDrop"
			Click="OnClick" DoubleClick="OnDoubleClick"
			AllowEdit="true" BeforeEdit="OnBeforeEdit"
			DefaultPage="_defaultPage" PageChanged="OnPageChange"
			DefaultSort="_defaultSort" SortChanged="OnSortChange">

	<PDColumn Id="Col1" Editable="false" TItem="TestRow" Title="Id" Field="x => x.IntField" />
	<PDColumn Id="Col2" TdClass="text-nowrap" TItem="TestRow" Title="Date" Field="x => x.DateField" Format="dd/MM/yyyy HH:mm" />
	<PDColumn Id="Col3" TItem="TestRow" Title="Enabled" Field="x => x.BooleanField">
		<Template>
			@(context.BooleanField ? "Yes" : "")
		</Template>
	</PDColumn>
	<PDColumn Id="Col4" TItem="TestRow" Title="User" Field="x => x.NameField" Sortable="true" />
	<PDColumn Id="Col5" TItem="TestRow" Title="Comments" Field="x => x.StringField" Sortable="false" />
	<PDColumn Id="Col6" TItem="TestRow" Title="Calc" Sortable="false">
		<Template>
			@{
				var row = context as TestRow;
				<span>@(row.IntField * row.IntField)</span>
			}
		</Template>
	</PDColumn>

</PDTable>

<hr />

@if (_allowDrag)
{
	<div class="drop-zone @_dropZoneCss" @ondragenter="OnDragEnter" @ondragleave="OnDragLeave" @ondrop="OnDragDrop"
			ondragover="event.preventDefault();">
		<span>@_dropMessage</span>
	</div>
}

<div>

	<div class="d-flex">

		<div class="form-group p-1">
			<label>Selection Mode</label>
			<select class="form-control" @bind="SelectionMode">
				<option value="@TableSelectionMode.None">None</option>
				<option value="@TableSelectionMode.Single" selected>Single</option>
				<option value="@TableSelectionMode.Multiple">Multiple</option>
			</select>
		</div>

		<div class="form-group p-1">
			<label>Columns Config - edit and tab out of field to apply changes</label>
			<textarea rows="8" cols="40" class="form-control" @bind="ColumnsConfigJson">
			</textarea>
		</div>

		<div class="form-group p-1">
			<button class="btn btn-secondary" @onclick="() => _allowDrag = !_allowDrag">@(_allowDrag ? "Disable" : "Enable") Drag</button>
		</div>

		<div class="form-group p-1">
			<button class="btn btn-secondary" @onclick="() => _allowDrop = !_allowDrop">@(_allowDrop ? "Disable" : "Enable") Drop</button>
		</div>

	</div>

	<div>
		<div class="form-group p-1">
			<label>Events</label>
			<textarea rows="8" class="form-control">@_events</textarea>
		</div>
	</div>

</div>
