<div id="@Id"
	 class="pd-timeline"
	 @onmousewheel="OnMouseWheel">

	<svg @ref="_svgCanvasElement"
		 class="tl-canvas"
		 preserveAspectRatio="none">
		@{
			var points = GetViewPortDataPoints();
			if (points.Length > 0)
			{
				var maxYValue = points.Max(x => x?.SeriesValues.Sum() ?? 0);
				for (var i = 0; i < points.Length; i++)
				{
					<PDStackedBar DataPoint="points[i]"
								  MaxValue="maxYValue"
								  Options="Options"
								  X="@(i * Options.Bar.Width)" />
				}
			}
		}
	</svg>

	<svg class="tl-pan"
		 @onmousedown="OnPanMouseDown"
		 @onmousemove="OnPanMouseMove"
		 @onmouseup="OnPanMouseUp"
		 preserveAspectRatio="none">
		<rect x="@_panHandleX" y="0" width="@_panHandleWidth" height="20" fill="@Options.Colours.HandleBackground" />
	</svg>

</div>

<div>
	<h4>Data</h4>
	<p>Width = @_canvasWidth</p>
	<p>Bar Width = @Options.Bar.Width</p>
	<p>Columns = @_totalColumns</p>
	<p>Column Offset = @_columnOffset</p>
	<p>ViewPort Width (Cols) = @_viewportColumns</p>
</div>