@page "/pdbutton"
@using PanoramicData.Blazor.Services;

<h1>PDButton</h1>

<DemoSourceView SourceFiles="Pages/PDButtonPage.razor, Pages/PDButtonPage.razor.cs">

    <div>
        <PDButton Text="Counter++"
                  IconCssClass="fas fa-fw fa-plus"
                  CssClass="btn btn-primary"
                  ShortcutKey="_shortcut1"
                  ToolTip="@($"Click me or press {_shortcut1} to increment the counter")"
                  Click="OnButton1Click">
        </PDButton>
        @if (Counter > 0)
        {
            <span class="ms-2">Button clicked @Counter Times</span>
        }
    </div>

    <div class="mt-2">
        <PDButton Text="Long running operation"
                  IconCssClass="fas fa-fw fa-cog"
                  CssClass="btn btn-secondary"
                  ToolTip="@($"Click me to start long running operation")"
                  Operation="DoLongRunningOperation"
                  OperationIconCssClass="fas fa-fw fa-cog fa-spin">
        </PDButton>
    </div>

    <div class="mt-2">
        <div class="d-flex">
            <PDButton CssClass="btn btn-secondary"
                      IconCssClass="@($"fas fa-fw fa-random")"
                      Text="Toggle button state >"
                      ToolTip="@($"Click me to enable/disable adjacent button")"
                      Click="@(() => _buttonEnabled = !_buttonEnabled)">
            </PDButton>
            <PDButton CssClass="btn btn-secondary ms-2"
                      IconCssClass="@($"fas fa-fw {(_buttonEnabled ? "fa-toggle-on" : "fa-toggle-off")}")"
                      IsEnabled="_buttonEnabled"
                      Text="@(_buttonEnabled ? "Enabled" : "Disabled")"
                      ToolTip="@($"This button does nothing")">
            </PDButton>
        </div>
    </div>


    <div class="mt-2">
        <PDLinkButton Text="Launch 1"
                      IconCssClass="fas fa-fw fa-external-link-alt"
                      CssClass="btn btn-secondary"
                      ShortcutKey="_shortcut2"
                      ToolTip="@($"Click me or press {_shortcut2} to navigate to a new page")"
                      Url="https://www.panoramicdata.com/"
                      Target="_self">
        </PDLinkButton>
    </div>

    <div class="mt-2">
        <PDButton Text="Launch 2"
                  IconCssClass="fas fa-fw fa-external-link-alt"
                  CssClass="btn btn-secondary"
                  ShortcutKey="_shortcut3"
                  ToolTip="@($"Click me or press {_shortcut3} to navigate to a new page")"
                  Click="OnButton3Click">
        </PDButton>
    </div>

    <div class="mt-2">
        <PDButton Text="Launch 3"
                  IconCssClass="fas fa-fw fa-external-link-alt"
                  Url="/pdtoolbar"
                  CssClass="btn btn-secondary"
                  ToolTip="@($"Click me to navigate to a new page (this tab)")">
        </PDButton>
    </div>

    <div class="mt-2">
        <PDButton Text="Launch 4"
                  IconCssClass="fas fa-fw fa-external-link-alt"
                  Url="/pdtoolbar"
                  Target="_blank"
                  CssClass="btn btn-secondary"
                  ToolTip="@($"Click me to navigate to a new page (new tab)")">
        </PDButton>
    </div>

    <EventView />

</DemoSourceView>