@page "/pdform"
@using PanoramicData.Blazor.Demo.Data

<h1>PDForm</h1>

<DemoSourceView SourceFiles="Pages/PDFormPage.razor, Pages/PDFormPage.razor.cs, Data/PersonDataProvider.cs">

    <PDToolbar>

        <PDToolbarPlaceholder>
            <div>
                <span>Example 1: Standalone Form</span>
                <br />
                <span class="text-muted"
                      style="font-size: 0.8rem;">Uses INavigationCancelService to avoid navigating away when changes have been made</span>
            </div>
        </PDToolbarPlaceholder>

        <PDToolbarButton Text="Create Person"
                         ShiftRight="true"
                         CssClass="btn-primary"
                         Click="OnCreatePerson" />

    </PDToolbar>

    <div class="d-flex">

        <div class="pe-4">
            @foreach (var person in People)
            {
                <div class="person-list @(person == SelectedPerson ? "selected" : "")" @onclick="(_) => OnEditPerson(person)">
                    <span>@person.FirstName</span>&nbsp;<span>@person.LastName</span>
                </div>
            }
        </div>

        <PDForm @ref="Form"
                CssClass="w-100"
                TItem="Person"
                Item="SelectedPerson"
                DataProvider="_personDataProvider"
                Error="OnError"
                FieldUpdated="OnFieldUpdated"
                Deleted="OnPersonDeleted"
                Updated="OnPersonUpdated"
                Created="OnPersonCreated">

            <PDFormHeader TItem="Person"
                          CreateTitle="Create New Person"
                          EditTitle="Edit Person - {0}"
                          DeleteTitle="Delete Person - {0}"
                          ItemDescription="@((x) => $"{x.FirstName} {x.LastName}")" />

            <PDFormBody TItem="Person">

                <PDField TItem="Person"
                         Field="x => x.Id"
                         ShowInDelete="_ => true"
                         ShowInCreate="_ => false"
                         ReadOnlyInEdit="_ => true" />

                <PDField TItem="Person"
                         Field="x => x.FirstName"
                         ShowCopyButton="_ => true"
                         ShowInDelete="_ => true"
                         Title="First Name" />

                <PDField TItem="Person"
                         Field="x => x.LastName"
                         MaxLength="20"
                         ShowCopyButton="_ => true"
                         ShowInDelete="_ => true"
                         Title="Last Name" />

                <PDField TItem="Person"
                         Field="x => x.Dob"
                         Helper="_dateHelper"
                         DisplayOptions="new FieldDateTimeOptions { AllowNulls = true, ShowTime = true, TimeStepSecs=60 }"
                         ShowCopyButton="_ => true" />

                <PDField TItem="Person"
                         ShowValidationResult="false"
                         Field="x => x.Department" />

                <PDField TItem="Person"
                         Field="x => x.AllowLogin"
                         Title="Login?"
                         ReadOnlyInCreate="_ => false" />

                <PDField TItem="Person"
                         Field="x => x.Password"
                         Title="Password"
                         IsSensitive="@((x, __) => Form.GetFieldValue<bool>("AllowLogin") == true )" />

                <PDField TItem="Person"
                         Field="x => x.Target"
                         MaxValue="1000000"
                         MinValue="0" />

                <PDField TItem="Person"
                          Field="x => x.Dependents" />

                <PDField TItem="Person"
                         Field="x => x.Comments"
                         ShowCopyButton="_ => true"
                         ShowInCreate="_ => false"
                         DisplayOptions="TextEditorOptions" />

                <PDField TItem="Person"
                         Field="x => x.DateCreated"
                         ShowInCreate="_ => false"
                         Helper="_dateHelper"
                         ReadOnlyInEdit="_ => false" />

                <PDField TItem="Person"
                         Field="x => x.DateModified"
                         ShowInEdit="_ => false"
                         ShowInCreate="_ => false" />

            </PDFormBody>

            <PDFormFooter TItem="Person"
                          Click="OnFooterClick"
                          ShowErrorCount="false" />
        </PDForm>

    </div>

    <EventView />

</DemoSourceView>

<style>
    .person-list {
        border-radius: .3rem;
        border: 1px solid #ced4da;
        padding: 3px;
        margin: 0px 5px 5px 5px;
        cursor: pointer;
    }

        .person-list.selected {
            background-color: lightgray;
        }

    .pd-form-header {
        padding-bottom: 10px;
    }
</style>