@page "/pdlist"

<h1>PDList</h1>

<DemoSourceView SourceFiles="Pages/PDListPage.razor, Pages/PDListPage.razor.cs">

    <div class="">

        <h3>Basic List</h3>
        <span class="text-muted small">Constrained in height by surrounding div and CSS</span>

        <div class="list1">
            <PDList DataProvider="_dataProvider" />
        </div>

        <hr />
        <h3>Item Template</h3>
        <span class="text-muted small">Sorted with single selection</span>

        <div class="list3">
            <PDList DataProvider="_dataProvider"
                    SelectionChanged="OnSelectionChanged"
                    SelectionMode="TableSelectionMode.Single"
                    SortDirection="SortDirection.Ascending"
                    TItem="Car">
                    <ItemTemplate Context="car">
                        <div class="d-flex justify-content-between w-100-pct">
                            <span>@car.Make @car.Model</span>
                            <span class="small">@car.FromYear - @(car.ToYear.HasValue ? car.ToYear : "Present")</span>
                        </div>
                    </ItemTemplate>
            </PDList>
        </div>


        <hr />
        <h3>Multiple Selection</h3>
        <span class="text-muted small">Supports Ctrl key (to toggle) and Shift key (to select range from last selected)</span>

        <div class="list4">
            <PDList DataProvider="_dataProvider"
                    SelectionChanged="OnSelectionChanged"
                    SelectionMode="TableSelectionMode.Multiple"
                    SortDirection="SortDirection.Ascending"
                    TItem="Car" />
        </div>

        <hr />
        <h3>Multiple Selection</h3>
        <span class="text-muted small">With check boxes, item template and displays 'All' checkbox</span>
        <div>
            <EditForm Model="this" class="toolbar">
                <div class="">
                    <label class="form-check-label">Enabled</label>
                    <InputCheckbox @bind-Value="_isEnabled" />
                </div>
            </EditForm>
        </div>

        <div class="list5">
            <PDList AllCheckBoxWhenPartial="SelectionBehaviours.SelectAll"
                    DataProvider="_dataProvider"
                    SelectionChanged="OnSelectionChanged"
                    SelectionMode="TableSelectionMode.Multiple"
                    ShowAllCheckBox="true"
                    ShowCheckBoxes="true"
                    ShowFilter="true"
                    IsEnabled="_isEnabled"
                    SortDirection="SortDirection.Ascending"
                    TItem="Car">
                    <ItemTemplate Context="car">
                        <div class="d-flex justify-content-between w-100-pct">
                            <span>@car.Make @car.Model</span>
                            <span class="small">@car.FromYear - @(car.ToYear.HasValue ? car.ToYear : "Present")</span>
                        </div>
                    </ItemTemplate>
            </PDList>
        </div>

    </div>

    <div class="mt-4">
        <EventView />
    </div>

</DemoSourceView>
