@page "/pdmonaco"
@using PanoramicData.Blazor.Demo.Data

<h1>Monaco Editor</h1>

<div class="host">

    <PDToolbar>
        <PDToolbarButton Click="@(() => OnSetLanguage("sql"))"
                         CssClass="@(_language == "sql" ? "btn-primary" : "btn-secondary")"
                         Size="ButtonSizes.Small"
                         Text="SQL" />

        <PDToolbarButton Click="@(() => OnSetLanguage("javascript"))"
                         CssClass="@(_language == "javascript" ? "btn-primary" : "btn-secondary")"
                         Size="ButtonSizes.Small"
                         Text="Javascript" />

        <PDToolbarButton Click="@(() => OnSetLanguage("rmscript"))"
                         CssClass="@(_language == "rmscript" ? "btn-primary" : "btn-secondary")"
                         Size="ButtonSizes.Small"
                         Text="RMScript" />

        <PDToolbarButton Click="@(() => OnSetLanguage("ncalc"))"
                         CssClass="@(_language == "ncalc" ? "btn-primary" : "btn-secondary")"
                         Size="ButtonSizes.Small"
                         Text="NCalc" />

        <PDToolbarSeparator />

        <PDToolbarButton Click="@(() => OnSetTheme("light"))"
                         CssClass="@(_themePreference == "light" ? "btn-primary" : "btn-secondary")"
                         Size="ButtonSizes.Small"
                         Text="Light" />

        <PDToolbarButton Click="@(() => OnSetTheme("dark"))"
                         CssClass="@(_themePreference == "dark" ? "btn-primary" : "btn-secondary")"
                         Size="ButtonSizes.Small"
                         Text="Dark" />
    </PDToolbar>

    @* @key is ONLY required if the Language parameter is to change*@
    @*    - it forces a new instance of the component when the Language parameter changes *@
    <PDMonacoEditor @bind-Value="@_value"
                    @key="@_language"
                    AddMethods="AddMethods"
                    Theme="@_theme"
                    Language="@_language" />

    <div class="output">@_value</div>

</div>