@page "/pdmonaco"
@using PanoramicData.Blazor.Demo.Data

<h1>Monaco Editor</h1>

<div class="host">

	<PDToolbar>
		<PDToolbarButton Click="@(() => OnSetLanguage("sql"))"
						 CssClass="@(_language == "sql" ? "btn-primary" : "btn-secondary")"
						 Size="ButtonSizes.Small"
						 Text="SQL" />

		<PDToolbarButton Click="@(() => OnSetLanguage("javascript"))"
						 CssClass="@(_language == "javascript" ? "btn-primary" : "btn-secondary")"
						 Size="ButtonSizes.Small"
						 Text="Javascript" />

		<PDToolbarButton Click="@(() => OnSetLanguage("ncalc"))"
						 CssClass="@(_language == "ncalc" ? "btn-primary" : "btn-secondary")"
						 Size="ButtonSizes.Small"
						 Text="NCalc" />

		<PDToolbarButton Click="@(() => OnSetLanguage("rmscript"))"
						 CssClass="@(_language == "rmscript" ? "btn-primary" : "btn-secondary")"
						 Size="ButtonSizes.Small"
						 Text="RMScript" />

		<PDToolbarSeparator />

		<PDToolbarButton Click="@(() => OnSetTheme("light"))"
						 CssClass="@(_themePreference == "light" ? "btn-primary" : "btn-secondary")"
						 Size="ButtonSizes.Small"
						 Text="Light" />

		<PDToolbarButton Click="@(() => OnSetTheme("dark"))"
						 CssClass="@(_themePreference == "dark" ? "btn-primary" : "btn-secondary")"
						 Size="ButtonSizes.Small"
						 Text="Dark" />
	</PDToolbar>

	@* @key is ONLY required if the Language parameter is to change*@
	@*    - it forces a new instance of the component when the Language parameter changes *@
	<PDMonacoEditor @bind-Value="@_value"
					@key="@_language"
					InitializeCache="InitializeCache"
					InitializeOptions="InitializeOptions"
					InitializeLanguageAsync="InitializeLanguageAsync"
					Language="@_language"
					RegisterLanguages="RegisterLanguages"
					Theme="@_theme" />

	<div class="output">@_value</div>

</div>