@page "/pdpager"

<h1>PDPager</h1>

<DemoSourceView SourceFiles="Pages/PDPagerPage.razor, Pages/PDPagerPage.razor.cs">

	<PDToolbar>

		<PDToolbarTextbox Value="@GoToPage" ValueChanged="@((v) => GoToPage = v)" />
		<PDToolbarButton Text="Goto Page"
						 Click="OnGotoPage" />

		<PDToolbarTextbox Value="@TotalCount" ValueChanged="@((v) => TotalCount = v)" />
		<PDToolbarButton Text="Set Total Count"
						 Click="OnSetTotalCount" />

        <PDToolbarButton Text="@(ShowPageChangeButtons ? "Hide Buttons" : "Show Buttons")"
                         Click="@(() => ShowPageChangeButtons = !ShowPageChangeButtons)" />

        <PDToolbarButton Text="@(ShowPageDescription ? "Hide Description" : "Show Description")"
                         Click="@(() => ShowPageDescription = !ShowPageDescription)" />

        <PDToolbarButton Text="@(ShowPageSizeChoices ? "Hide Page Sizes" : "Show Page Sizes")"
                         Click="@(() => ShowPageSizeChoices = !ShowPageSizeChoices)" />

	</PDToolbar>

	<PDPager PageCriteria="_pageCriteria"
        ShowPageChangeButtons="ShowPageChangeButtons"
        ShowPageDescription="ShowPageDescription"
        ShowPageSizeChoices="ShowPageSizeChoices"
        Size="ButtonSizes.Small" />

	<EventView />

</DemoSourceView>