@page "/pdtable"
@using PanoramicData.Blazor.Demo.Data

<h1>PDTable</h1>

<style>
	.pdtable {
		min-height: 500px;
	}
</style>

<DemoSourceView SourceFiles="Pages/PDTablePage.razor, Pages/PDTablePage.razor.cs, Data/PersonDataProvider.cs">

	<PDToolbar>

		<PDToolbarButton Text="Refresh"
						 CssClass="btn-primary"
						 Click="async () => await Table!.RefreshAsync()" />

		<PDToolbarTextbox ShowClearButton="true"
						  Label="Search: "
						  DebounceWait="250"
						  Value="@_searchText"
						  ValueChanged="OnSearchValueChanged"
						  Keypress="OnSearchKeyPress"
						  Cleared="OnSearchCleared" />

		<PDToolbarButton Text="@(AllowDrag ? "Disable Drag" : "Enable Drag")"
						 Click="() => AllowDrag = !AllowDrag" />

		<PDToolbarButton Text="@(AllowDrop ? "Disable Drop" : "Enable Drop")"
						 Click="() => AllowDrop = !AllowDrop" />

		<PDToolbarButton Text="@((Table?.IsEditing ?? false) ? "Stop Edit" : "Start Edit")"
						 Click="OnEditCommand" />

		<PDToolbarPlaceholder>
			<span class="pl-2">Selection Mode</span>
			<div class="pl-2">
				<select class="form-control" @bind="SelectionMode">
					<option value="@TableSelectionMode.None">None</option>
					<option value="@TableSelectionMode.Single" selected>Single</option>
					<option value="@TableSelectionMode.Multiple">Multiple</option>
				</select>
			</div>
		</PDToolbarPlaceholder>

	</PDToolbar>

	<PDDragContext @ref="DragContext">

		<PDTable @ref="Table"
				 TItem="Person"
				 DataProvider="_personDataProvider"
				 KeyField="x => x.Id"
				 AllowEdit="true"
				 AllowDrag="AllowDrag"
				 AllowDrop="AllowDrop"
				 SaveChanges="true"
				 SearchText="@_searchText"
				 PageCriteria="_pageCriteria"
				 SortCriteria="_sortCriteria"
				 PageSizeChoices="new uint[] { 5, 10, 20, 30, 50, 100 }"
				 SelectionMode="@SelectionMode"
				 SelectionChanged="OnSelectionChange"
				 Drop="OnDrop"
				 Click="OnClick"
				 DoubleClick="OnDoubleClick"
				 BeforeEdit="OnBeforeEdit"
				 PageChanged="OnPageChange"
				 SortChanged="OnSortChange">

			<PDColumn Id="col-icon"
					  TdClass="pl-0 pr-2"
					  ThClass="pl-0 pr-2"
					  TItem="Person"
					  Sortable="false"
					  Editable="false">
				<Template>
					<i class="fas fa-user" style="opacity: 0.6"></i>
				</Template>
			</PDColumn>

			<PDColumn Id="col-id"
					  TdClass="pl-0 pr-0"
					  ThClass="pl-0 pr-0"
					  TItem="Person"
					  Field="x => x.Id"
					  Editable="false" />

			<PDColumn Id="col-firstname"
					  TItem="Person"
					  Field="x => x.FirstName" />

			<PDColumn Id="col-lastname"
					  TItem="Person"
					  Field="x => x.LastName" />

			<PDColumn Id="col-email"
					  TItem="Person"
					  Field="x => x.Email" />

			<PDColumn Id="col-dob"
					  TItem="Person"
					  Field="x => x.Dob"
					  Title="Date of Birth"
					  Format="dd/MM/yy">
				<EditTemplate>
					<input id="pd-table-edit-dob"
						   type="date"
						   value="@context.Dob"
						   @oninput="@((a) => Table?.OnEditInput("col-dob", a.Value))"
						   @onblur="@(async () => await Table.OnEditBlurAsync().ConfigureAwait(true))"
						   @onmousedown:stopPropagation
						   @onclick:stopPropagation
						   @oncontextmenu:stopPropagation />
				</EditTemplate>
			</PDColumn>

			<PDColumn Id="col-department"
					  TItem="Person"
					  Field="x => x.Department" />

			<PDColumn Id="col-location"
					  TItem="Person"
					  Field="x => x.Location"
					  Options="GetLocationOptions" />

			<PDColumn Id="col-target"
					  TItem="Person"
					  Field="x => x.Target"
					  ShowInList="false" />

			<PDColumn Id="col-allowlogin"
					  TItem="Person"
					  Field="x => x.AllowLogin"
					  ShowInList="false" />

			<PDColumn Id="col-password"
					  TItem="Person"
					  Field="x => x.Password"
					  ShowInList="false"
					  IsPassword="true" />

			<PDColumn Id="col-comments"
					  TItem="Person"
					  Field="x => x.Comments"
					  ShowInList="false"
					  IsTextArea="true"
					  TextAreaRows="6" />

			<PDColumn Id="col-datecreated"
					  TItem="Person"
					  Field="x => x.DateCreated"
					  Format="dd/MM/yy"
					  ShowInList="false" />

			<PDColumn Id="col-datemodified"
					  TItem="Person"
					  Field="x => x.DateModified"
					  Format="dd/MM/yy HH:mm"
					  Editable="false"
					  TdClass="text-nowrap" />
		</PDTable>

	</PDDragContext>

	@if (AllowDrag)
	{
		<div class="mt-3 drop-zone @DropZoneCss"
			 @ondragenter="OnDragEnter"
			 @ondragleave="OnDragLeave"
			 @ondrop="OnDragDrop"
			 ondragover="event.preventDefault();">
			<span>@DropMessage</span>
		</div>
	}

	<EventView />

</DemoSourceView>
