@page "/pdtimeline"

<h1>PDTimeline</h1>

<DemoSourceView SourceFiles="Pages/PDTimelinePage.razor, Pages/PDTimelinePage.razor.cs">

	<div>
		<div class="toolbar">

			 <div class="form-check mr-2">
				<input type="checkbox" class="form-check-input" id="enabledCheck" checked="_isEnabled"
				@oninput="(a) => _isEnabled = Convert.ToBoolean(a.Value)">
				<label class="form-check-label" for="enabledCheck">Enabled</label>
			</div>

			<EditForm Model="_model">
				<InputSelect TValue="TimelineScales"
							 @bind-Value="_model.Scale">
					<option value="@TimelineScales.Minutes">1 Minute</option>
					<option value="@TimelineScales.Hours">1 Hour</option>
					<option value="@TimelineScales.Hours4">4 Hours</option>
					<option value="@TimelineScales.Hours6">6 Hours</option>
					<option value="@TimelineScales.Hours8">8 Hours</option>
					<option value="@TimelineScales.Hours12">12 Hours</option>
					<option value="@TimelineScales.Days">1 Day</option>
					<option value="@TimelineScales.Weeks">1 Week</option>
					<option value="@TimelineScales.Months">1 Month</option>
					<option value="@TimelineScales.Years">1 Year</option>
				</InputSelect>
			</EditForm>
		</div>

		<PDTimeline @ref="_timeline"
					DataProvider="GetTimelineData"
					FetchAll="false"
					IsEnabled="_isEnabled"
					MaxDateTime="_data.Max(x => x.DateChanged)"
					MinDateTime="_data.Min(x => x.DateChanged)"
					Options="_timelineOptions"
					SelectionChanged="OnSelectionChanged"
					Scale="_model.Scale"
					ScaleChanged="OnScaleChanged"/>

		<div>
			Range: @($"{_minDate:g} - {_maxDate:g}"))
		</div>
		<div>
			Selection: @(_selection is null ? "none" : _selection.ToString())
		</div>

	</div>

	<EventView />

</DemoSourceView>
