@page "/pdtimeline"

<h1>PDTimeline</h1>

<DemoSourceView SourceFiles="Pages/PDTimelinePage.razor, Pages/PDTimelinePage.razor.cs">

	<div>
		<div class="toolbar">

			 <div class="form-check mr-2">
				<input type="checkbox" class="form-check-input" id="enabledCheck" checked="_isEnabled"
				@oninput="(a) => _isEnabled = Convert.ToBoolean(a.Value)">
				<label class="form-check-label" for="enabledCheck">Enabled</label>
			</div>

			<EditForm class="form-inline" Model="_model">

				<div class="mr-2">
					<span>Scale / Zoom</span>
					<InputSelect class="form-control form-control-sm ms-1"
									TValue="string"
									Value="@_model.Scale.Name"
									ValueChanged="@((v) => _model.Scale = _timelineOptions.General.Scales.First(x => x.Name == v))"
									ValueExpression="() => _model.Scale.Name">
						@foreach(var scale in _timelineOptions.General.Scales)
						{
							<option value="@scale.Name">@scale.Name</option>
						}
					</InputSelect>
				</div>

				<div class="mr-2">
					<span>Disable Before</span>
					<InputDate class="form-control form-control-sm"
							   @bind-Value="_model.DisableBefore" />
				</div>

				<div class="mr-2">
					<span>Disable After</span>
					<InputDate class="form-control form-control-sm"
							   @bind-Value="_model.DisableAfter" />
				</div>

			</EditForm>

			<PDButton Click="OnSetData"
				CssClass="btn-secondary ml-2"
				Size="ButtonSizes.Small"
				Text="Set Data" />

			<PDButton Click="OnClearData"
				CssClass="btn-secondary ml-2"
				Size="ButtonSizes.Small"
				Text="Clear Data" />

			<PDButton Click="OnZoomToEnd"
				CssClass="btn-secondary ml-2"
				Size="ButtonSizes.Small"
				Text="Zoom End" />

			 <div class="form-check ml-2">
				<input type="checkbox" class="form-check-input" id="moreDataCheck" checked="@_moreDataAvailable"
				@oninput="(a) => _moreDataAvailable = Convert.ToBoolean(a.Value)">
				<label class="form-check-label" for="moreDataCheck">More Data</label>
			</div>

		</div>

		<PDTimeline @ref="_timeline"
					DataProvider="GetTimelineData"
					DisableAfter="_model.DisableAfter"
					DisableBefore="_model.DisableBefore"
					IsEnabled="_isEnabled"
					NewMaxDateTimeAvailable="_moreDataAvailable"
					NewMinDateTimeAvailable="_moreDataAvailable"
					MaxDateTime="_maxDate"
					MinDateTime="_minDate"
					Options="_timelineOptions"
					SelectionChanged="OnSelectionChanged"
					SelectionChangeEnd="OnSelectionChangeEnd"
					Scale="_model.Scale"
					ScaleChanged="OnScaleChanged"
					UpdateMaxDate="OnUpdateMaxDate"
					UpdateMinDate="OnUpdateMinDate" />

		<div>
			Range: @($"{_minDate:g} - {_maxDate:g}"))
		</div>
		<div>
			Selection: @(_selection is null ? "none" : _selection.ToString())
		</div>

	</div>

	<EventView />

</DemoSourceView>
