@page "/pdtimeline"

<h1>PDTimeline</h1>

<DemoSourceView SourceFiles="Pages/PDTimelinePage.razor, Pages/PDTimelinePage.razor.cs">

	<div>
		<div class="toolbar">

			 <div class="form-check mr-2">
				<input type="checkbox" class="form-check-input" id="enabledCheck" checked="_isEnabled"
				@oninput="(a) => _isEnabled = Convert.ToBoolean(a.Value)">
				<label class="form-check-label" for="enabledCheck">Enabled</label>
			</div>

			<EditForm class="form-inline" Model="_model">

				<div class="mr-2">
					<span>Scale / Zoom</span>
					<InputSelect class="form-control form-control-sm ms-1"
									TValue="TimelineScales"
									@bind-Value="_model.Scale">
						<option value="@TimelineScales.Minutes">1 Minute</option>
						<option value="@TimelineScales.Hours">1 Hour</option>
						<option value="@TimelineScales.Hours4">4 Hours</option>
						<option value="@TimelineScales.Hours6">6 Hours</option>
						<option value="@TimelineScales.Hours8">8 Hours</option>
						<option value="@TimelineScales.Hours12">12 Hours</option>
						<option value="@TimelineScales.Days">1 Day</option>
						<option value="@TimelineScales.Weeks">1 Week</option>
						<option value="@TimelineScales.Months">1 Month</option>
						<option value="@TimelineScales.Years">1 Year</option>
					</InputSelect>
				</div>

				<div class="mr-2">
					<span>Disable Before</span>
					<InputDate class="form-control form-control-sm"
							   @bind-Value="_model.DisableBefore" />
				</div>

				<div class="mr-2">
					<span>Disable After</span>
					<InputDate class="form-control form-control-sm"
							   @bind-Value="_model.DisableAfter" />
				</div>

			</EditForm>

			<PDButton Click="OnSetData"
				CssClass="btn-secondary ml-2"
				Size="ButtonSizes.Small"
				Text="Set Data" />

			<PDButton Click="OnClearData"
				CssClass="btn-secondary ml-2"
				Size="ButtonSizes.Small"
				Text="Clear Data" />

			 <div class="form-check mr-2">
				<input type="checkbox" class="form-check-input" id="moreDataCheck" checked="@_moreDataAvailable"
				@oninput="(a) => _moreDataAvailable = Convert.ToBoolean(a.Value)">
				<label class="form-check-label" for="moreDataCheck">More Data</label>
			</div>

		</div>

		<PDTimeline @ref="_timeline"
					DataProvider="GetTimelineData"
					DisableAfter="_model.DisableAfter"
					DisableBefore="_model.DisableBefore"
					FetchAll="false"
					IsEnabled="_isEnabled"
					NewMaxDateTimeAvailable="_moreDataAvailable"
					NewMinDateTimeAvailable="_moreDataAvailable"
					MaxDateTime="_maxDate"
					MinDateTime="_minDate"
					Options="_timelineOptions"
					SelectionChanged="OnSelectionChanged"
					SelectionChangeEnd="OnSelectionChangeEnd"
					Scale="_model.Scale"
					ScaleChanged="OnScaleChanged"
					UpdateMaxDate="OnUpdateMaxDate"
					UpdateMinDate="OnUpdateMinDate" />

		<div>
			Range: @($"{_minDate:g} - {_maxDate:g}"))
		</div>
		<div>
			Selection: @(_selection is null ? "none" : _selection.ToString())
		</div>

	</div>

	<EventView />

</DemoSourceView>
