@page "/pdtoolbar"
@using PanoramicData.Blazor.Services;
<h1>PDToolbarPage</h1>

<DemoSourceView SourceFiles="Pages/PDToolbarPage.razor, Pages/PDToolbarPage.razor.cs">

	<PDToolbar ButtonSize="ButtonSizes.Small">

		<PDToolbarDropdown Text=" File"
						   IconCssClass="fas fa-fw fa-file"
						   TextCssClass="d-none d-sm-none d-md-inline"
						   IsVisible="ShowButtons"
						   IsEnabled="EnableButtons"
						   Items="_fileMenuItems"
						   ShowOnMouseEnter="true"
						   Size="_size"
						   Click="OnFileMenuClick" />

		<PDToolbarDropdown Click="OnEditMenuClick"
						   Text="Edit"
						   IconCssClass="fas fa-fw fa-edit"
						   TextCssClass="d-none d-sm-none d-md-inline"
						   IsVisible="ShowButtons"
						   IsEnabled="EnableButtons"
						   Size="_size">

			<PDMenuItem Text="Redo"
						IconCssClass="fas fa-redo" />

			<PDMenuItem Text="Undo"
						IconCssClass="fas fa-undo" />

		</PDToolbarDropdown>

		<PDToolbarButton Key="Rename"
						 Text="&&Rename"
						 CssClass="btn-secondary"
						 IconCssClass="fas fa-fw fa-edit"
						 TextCssClass="d-none d-sm-none d-md-inline"
						 Click="OnButtonClick"
						 ShortcutKey="@(ShortcutKey.Create("ctrl-r"))"
						 Size="_size"
						 IsVisible="ShowButtons"
						 IsEnabled="EnableButtons" />

		<PDToolbarSeparator IsVisible="ShowButtons" />

		<PDToolbarLinkButton Key="Launch"
							 Text="&&Launch"
							 CssClass="btn-secondary text-nowrap"
							 IconCssClass="fas fa-fw fa-external-link-alt"
							 TextCssClass="d-none d-sm-none d-md-inline"
							 ShortcutKey="@(ShortcutKey.Create("ctrl-l"))"
							 Size="_size"
							 Url="https://panoramicdata.com"
							 IsVisible="ShowButtons"
							 IsEnabled="EnableButtons" />

		<PDToolbarSeparator IsVisible="ShowButtons" />

		<PDToolbarTextbox Width="100%"
						  Label="Search"
						  DebounceWait="250"
						  Placeholder="search text"
						  ShowClearButton="true"
						  Size="_size"
						  Value="@_searchText"
						  ValueChanged="OnValueChanged"
						  Keypress="OnKeypress"
						  Cleared="OnCleared" />

		<PDToolbarPlaceholder>
			<span>Options</span>
		</PDToolbarPlaceholder>

		<PDToolbarButton Text="@(EnableButtons ? "Disable" : "Enable")"
						 ToolTip="Disable or enable buttons"
						 Size="_size"
						 CssClass="btn-secondary d-none d-sm-none d-md-none d-lg-inline"
						 Click="() => { EnableButtons = !EnableButtons; }"
						 ShiftRight="true" />

		<PDToolbarButton Text="@(ShowButtons ? "Hide" : "Show")"
						 ToolTip="Show or hide buttons"
						 Size="_size"
						 CssClass="btn-secondary d-none d-sm-none d-md-none d-lg-inline"
						 Click="() => { ShowButtons = !ShowButtons; }" />
	</PDToolbar>

	<EventView />

</DemoSourceView>